.popoverTrigger {
  width: 110px;
}

.popoverContent {
  width: fit-content;
  display: flex;
  flex-direction: column;
}

.toggle {
  justify-content: flex-start;
  gap: 8px;
}

.chevron {
  transition: transform 0.2s ease;
  margin-left: auto;
}

.chevronOpen {
  transform: rotate(180deg);
}
